.curso__lista {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    height: auto;
    margin: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lista_curso {
    width: 10rem;
    height: auto;
    border: 5px solid black;
    border-radius: 20px;
    padding: 1.5rem;
}