
.banner {
    width: 100vw;
    padding-top: 12.25rem;
    padding-bottom: 2.5rem;
    background-color:#00161C;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-titulo {
    position: absolute;
    color: #efb810;
    font-family: cursive;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;   
}
 

@media screen and (min-width: 767px) {
    .banner {
        background-image: url(../../imagenes/banner.png);
        background-size: cover;
        padding-bottom: 9rem;
    }
}
